* {
    padding: 0px;
    margin: 0px;
    font-family: "Lucida Console", Monaco, monospace;
}

body {
    background-color: #111;
}

#loginbox {
    background-color: #222;
    width: 460px;
    /*height: 120px;*/
    margin: calc(50vh - 152px) auto;
    padding: 20px;
    border: 2px solid #333;
    color: white;
    font-size: 14px;
}

#loginbox h1 {
    font-size: 14px;
    font-weight: 400;
}

#loginbox input {
    font-weight: 600;
    padding: 10px;
    border: none;
    outline: 0;
    background-color: #333;
    color: white;
    transition: background-color 0.3s;
}

#loginbox input:focus {
    background-color: #444;
}

#loginbox input[type="submit"]:hover {
    background-color: #444;
}

#loginbox input[type="submit"]:active {
    background-color: #666;
}