* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: blue;
}

#loginbox {
    background-color: deepskyblue;
    width: 500px;
    height: 600px;
    margin: 100px auto;
    border: 2px solid black;
    color: white;
    font-size: 18px;
}