<!DOCTYPE html>
<html>
<head>
    <title> {{group}} Cnael - Syntax </title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
	<div id="header">
		<span class="title">Syntax<b>Panel</b></p>
		<ul>
			<li><a href="/"> Home </a></li>
			<li class="s"> Console + Chat </li>
			<li> Docs </li>
			<li><a href="/logout"> Logout </a></li>
		</ul>
		<span class="account">Hi, {{username}}!</span>
	</div>
	<br><br><br><br>
	<div class="content">
	    <h1> {{group}} Cnael </h1>
	    Good! You know how to navigate around this site quickly!
	</div>
</body>
</html>