<!DOCTYPE html>
<html>
<head>
    <title> Syntax - qdu hucyak ab doxgunp </title>
    <link rel="stylesheet" href="static/css/terminal.css">
</head>
<body onload="main();">
	<div id="header">
		<img src="static/img/logo.png">
		<b>SYNTAX</b>
		<span>{{username}} <a href="/logout">[logout]</a></span>
	</div>
	<div id="content">

		<div class="ed hidden">
			<a href="#!" onclick="hideEd();">Close</a>
			<br>
			<input type="text" id="edtext" placeholder="Text to encrypt/decrypt"><br>
			<input type="radio" name="edmode" value="e"> Encrypt<br>
	  		<input type="radio" name="edmode" value="d" checked> Decrypt<br>
	  		<button onclick="edc();">Go!</button>
	  		<br><div id="edresult"></div>
		</div>

		<div id="console">
			<textarea id="consoleText" disabled="true"></textarea>
			<div id="consoleInputBox">
				> <input id="consoleInput" placeholder="Enter command here...">
			</div>
		</div>
		<div id="chat">
			<textarea id="chatText" disabled="true"></textarea>
			<div id="chatInputBox">
				> <input id="chatInput" placeholder="Type your message here...">
			</div>
		</div>
	</div>
	<iframe target="_parent" src="/google" frameborder="none" class="hidden" id="g" style="position: fixed; top: 0px; left: 0px; width: 100vw; height: 100vh; background-color: white;"></iframe>
</body>
<script src="static/js/main.js"></script>
<script src="static/js/ed.js"></script><!--deprecated-->
<script src="static/js/Jva.js"></script>
<script src="static/js/TerminalManager.js"></script>
<script src="static/js/Console.js"></script>
<script src="static/js/CommandManager.js"></script>
<script src="static/js/Chat.js"></script>
<script src="static/js/google.js" type="text/javascript"></script>
</html>