<!DOCTYPE html>
<html>
<head>
    <title> Syntax - qdu hucyak ab doxgunp </title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
	<div id="header">
		<span class="title">Syntax<b>Panel</b></p>
		<ul>
			<li class="s"><a href="/"> Home </a></li>
			<li><a href="#!" onclick="ed();"> E/D </a></li>
			<li><a href="/logout"> Logout </a></li>
		</ul>
		<span class="account">Hi, {{username}}!</span>
	</div>
	<br><br><br><br>
	<div class="content">
	    <h1> Select a group... </h1>
	    <!--<p> This is not yet here but will be at some stage in time! </p>-->
	    {% for g in groups %} <a href="/group?cnael={{g.title}}">{{g.title}} Cnael</a> ({% for person in g.who %}{% if person == username %}You{% else %}{{person}}{% endif %}, {% endfor %}have access to this group!) {% endfor %}
	</div>
	<div class="ed hidden">
		<a href="#!" onclick="hideEd();">Close</a>
		<br>
		<input type="text" id="edtext" placeholder="Text to encrypt/decrypt"><br>
		<input type="radio" name="edmode" value="e"> Encrypt<br>
  		<input type="radio" name="edmode" value="d" checked> Decrypt<br>
  		<button onclick="edc();">Go!</button>
  		<br><div id="edresult"></div>
	</div>
	<iframe src="/google" frameborder="none" class="hidden" id="g" style="position: fixed; top: 0px; left: 0px; width: 100vw; height: 100vh; background-color: white;"></iframe><script type="text/javascript">var google_toggle=false;var googleel=document.getElementById("g");document.addEventListener("keydown",function(e){console.log("--");if(e.keyCode === 27){console.log(";;");google_toggle=!google_toggle;if(google_toggle){googleel.classList.remove("hidden")}else{googleel.classList.add("hidden")}}});</script>
</body>
<script src="static/js/ed.js"></script>
<script src="static/js/escapetosafety.js"></script>
</html>