<!DOCTYPE html>
<html>
<head>
    <title> Syntax - qdu hucyak ab doxgunp </title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
    <div id="loginbox">
        <h1> Enter the lokuh... </h1>
        {% if err == "1" %}
        	<br>Error: <b style="color: red; background-color: white;"> Password incorrect! </b><br>
        {% end %}
        <br>
        <form action="/login" method="post">
        	<input type="password" name="pass" placeholder="Type your loppsanz">
        	<input type="submit" value="Hacyk">
        </form>
    </div>
</body>
</html>
